cache
data/Multi*
scripts/checkpoints/
scripts/.ipynb_checkpoints/
coords
feat/comp*
fish.pem
data/Train*
data/Test*
data/JPEGImages*
darknet/VOCdevkit
darknet/backup
darknet/backupseals
darknet/seals
